@media screen and (max-width: 992px) {
    .btn {
        color: azure !important;
        background-color: #2EE59D !important;
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
        /* width: 100%;
        margin: auto; */
        padding: 0.5em;
        border: 1px solid azure;
        border-radius: 0.5em;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
    }
    
    .btn:active {
        /* background-color: #2EE59D; */
        /* box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1); */
        color: #2EE59D !important;
        background-color: azure !important;
        transform: translateY(-2px) !important;
    }

    .btn-danger {
        background-color: firebrick !important;
        color: azure !important;
    }

    .btn-danger:active {
        background-color: azure !important;
        color: firebrick !important;
    }

    .btn-form-inp {
        color: black !important;
        background-color: azure !important;
    }
    .error {
        font-size: 10px !important;
        color: firebrick !important;
    }
}

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: crimson;
}

div {
    display: grid;
}

.root-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    color: azure;
    margin: 1em;
    /* height: 726px; Notice! full page height */
    /* height: 694px; Notice! height doesn't applying for phone and brakes by adding many options and for chrome 666px */
    /* border-radius: 1.5em; */
    /* background-color: crimson; */
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}

.jsx-container {
    gap: 3em;
    place-self: center;
    text-align: center;
}

.header-container {
    gap: 1em;
}

.title {
    font-size: 56px;
}

.sub-title {
    font-size: 13px;
    font-weight: bold;
    /* text-decoration: underline; */
}

.option-container {
    grid-template-columns: 1fr;
    gap: 2em;
    /* grid-template-rows: repeat(3, 1fr); */
    /* height: 318px; */
}

.option {
    grid-template-columns: 1fr auto;
    padding: 0.5em;
    /* border: 1px dashed firebrick; */
    border-radius: 0.5em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: black;
    background-color: azure;
    text-align: start;
}

.option p {
    align-self: center;
}

.option button {
    color: firebrick;
    border: 1px dashed firebrick;
    box-shadow: none;
    padding: 0.3em;
}

.option-msg {
    padding: 1em;
    font-weight: bold;
    place-self: center;
}

.btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    /* width: 100%;
    margin: auto; */
    padding: 0.5em;
    border: 1px solid azure;
    border-radius: 0.5em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    background-color: azure;
}

.btn:active {
    transform: translateY(1px) !important;
}

.btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    color: azure;
    transform: translateY(-2px);
}

.btn-danger:hover {
    background-color: firebrick;
    color: white;
}

.btn-form {
    /* width: auto;
    margin: 0px; */
}

.btn-form-inp:hover {
    cursor: text;
    color: black;
    background-color: azure;
}

.error {
    color: firebrick;
}

.submit-form {
    display: inherit;
    place-items: inherit;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5em;
}